
.breadcrumb{
    padding: 13px 0px 0px;
}
.breadcrumb li a{
    text-decoration: none;
}
.contact{
    background-image: url('../img/banner-c.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
    margin: 10px 0px 80px;
}
.contact .form-contact{
   
   margin: 0 auto;
   max-width: 1200px;
   padding:60px 0px;
}
.contact .form-contact .row{
    background-color: #ffffffd1;
    border-radius: 3px;
    padding: 25px 30px;

}

.contact .form-contact .row h3{
    color:rgb(196, 37, 37);
    text-align: center;
}
.contact .form-contact .row img{
   width: 60%;
}
.contact .form-contact .phone{
    justify-content: center;
    display: flex;
    padding: 42px 0px 20px 0px;
}
.contact .form-contact .phone p{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 25px;
    border: 1px solid #0e0e7c;
    border-radius: 5px;
}
.contact .form-contact i{
    color: #0e0e7c;
}
.contact .form-contact label{
    font-family: 'Lexend Deca', sans-serif;
}
.contact .form-contact span{
    color:rgb(235, 51, 51);
}
.contact .form-contact input{
    width: 100%;
    border: 1px solid #8080809e;
    border-radius: 3px;
    padding: 6px 4px;
}
.contact .form-contact .btn-submit{
    font-size: 18px;
    background-color: #0e0e7c;
    color: white;
    padding: 8px;
    width: 25%;
    border-radius: 5px;
    border: 1px solid #0e0e7c;
    margin: auto;
    margin-left: 30%;
}
@media(max-width:768px){
    .contact{
        background-image: url('../img/banner-c.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 1100px;
        margin: 10px 0px 80px;
    }
}