/* -----------------.detail-tour------------- */
.detail-tour .breadcrumb{
    padding-top: 12px;
}
.detail-tour .breadcrumb a{
    text-decoration: none;
}
.detail-tour .name-tour{
    color: rgb(186 20 20);
}
.detail-tour .slider-img img{
    width: 100%;
    height: 400px;
}
.detail-tour .service{
    padding-top: 20px;
}
.detail-tour .service h5{
    color: rgb(18, 18, 170);
}
.detail-tour .service .icon{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.detail-tour .service .icon .item{
    margin: 5px 24px;
}
.detail-tour .service .icon .item i{
    border: 1px solid gray;
    font-size: 35px;
    padding: 15px;
}
.detail-tour .service .icon .item i:hover{
    color: rgb(18, 18, 170);
}
.detail-tour .service .icon .item p{
    text-align: center;
    padding: 5px 0px;
}
.detail-tour .content-detail{
    padding-top: 25px;
}
.detail-tour .content-detail .name{
    color: rgb(14, 14, 124);
}
.detail-tour .content-detail .name-price{
    font-size: 24px;
}
.detail-tour .content-detail .price{
    font-size: 30px;
    font-weight: bold;
   color: #ebe222;
  
   
   
}
.detail-tour .content-detail .book-tour{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
}
.detail-tour .content-detail .book-tour .book{
    background-color: #ef3939;
    width: 49%;
    padding: 13px;
    color: white;
    font-size: 22px;
}
.detail-tour .content-detail .book-tour .contact{
    background-color: rgb(14, 14, 124);
    width: 49%;
    padding: 13px;
    font-size: 22px;
    color: white;
}
.detail-tour .content-detail .tag{
    padding-top: 10px;
}
.detail-tour .content-detail .tag span{
    font-size: 18px;
}
.detail-tour .content-detail .tag a{
    text-decoration: none;
    background-color: #136fbfb5;
    color: white;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 15px;
    margin: 3px 0px;
    display: inline-block;


}
.detail-tour .content-detail .tag a:hover{
    background-color: #136fbfd9;
}
.detail-tour .schedule {
    padding-top: 20px;
}
.detail-tour .schedule button{
    font-size: 18px;
    
    
}
.detail-tour .schedule .nav-link .active{
    color: #075ad5;
}
.detail-tour .schedule textarea{
    height: 500px;
    width: 100%;
    border: none;
}

.detail-tour .schedule .tab-pane{
    margin-top: 15px;
}
.detail-tour .schedule .tab-pane .rate i{
    font-size: 25px;
    color: rgb(238, 238, 10);
}
.detail-tour .schedule .tab-pane form {
     border: 1px solid #c1aeae;
    padding: 30px;
    border-radius: 5px;
    margin-top: 40px;
}
.detail-tour .schedule .tab-pane form label{
    padding-right: 10px;

   
}
.detail-tour .schedule .tab-pane form input{
    width: 100%;
    padding: 3px 4px;
}
.detail-tour .schedule .tab-pane .comment-customer{
    padding-top: 20px;
}
.detail-tour .schedule .tab-pane .comment-customer img{
    margin-left: 12px;
}
.detail-tour .schedule .tab-pane .comment-customer .text{
    padding-left: 10px;
}
.detail-tour .schedule .tab-pane .comment-customer .text .item{
    margin-bottom: -2px;
}
.detail-tour .schedule .tab-pane .comment-customer .text .item span{
    font-size: 10px;
}
.detail-tour .schedule .tab-pane h4{
    padding: 38px 0px 2px 0px;
    color: rgb(14, 14, 124);
}
.detail-tour .tour{
    padding-top: 50px;
}
.detail-tour h3{
    background-color: #dfdfdf;
    color: rgb(14, 14, 124);
    padding-top: 30px 0px 10px;
    margin: 74px 0px -36px 0px;
    padding: 15px 0px;
}